**
!services/
!services/**
!registry/
!registry/languages/
!registry/languages/**
!registry/llm-policies/
!registry/llm-policies/**
!registry/emergency-policies/
!registry/emergency-policies/**
!platform/
!platform/lib/
!platform/lib/**
!platform/resilience.yaml
!platform/testdata/
!platform/testdata/rag-index/
!platform/testdata/rag-index/**
!pipeline/
!pipeline/__init__.py
!pipeline/omniasr_lora.py
!pipeline/omniasr_export.py
!pipeline/licence_filter.py
**/__pycache__/
**/*.pyc
